- if current_user
  %h2 Categorías
  %ul#categories
    - current_user.categories.each do |category|
      %li
        %a{:href => category_path(category), :style => "color:#{category.color}"}= category.name