.options
  %a#create_task{:href => new_category_task_path(@category)} Nueva tarea
  %a#edit_category{:href => edit_category_path(@category)} Editar
%ul#tasks
  - @category.tasks.each do |task|
    %li{:id => "task_#{task.id}", :class => task.status}
      %a{:href => category_task_path(@category, task)}=task.title
      - simple_form_for([@category, task], :remote => true) do |f|
        = f.input :status, :collection => Task::STATUS, :label => false
        = f.submit